#butadd{
  margin-right: 15px;
  background-color:#5fcf8070;
}
#datatable{
background-color: 	#F5F5F5;
}
#icon-green {
  color: cornflowerblue;
}

#icon-red {
  color: crimson;
}
#icon-blue{
color: limegreen;
}
.icon-large {
  font-size: 25px;
}
#text1{
color: CadetBlue;
}
#text2{
color: CadetBlue;
}
#text3{
color: CadetBlue;
}
.mat-elevation-z8{
  width: 100%;
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(22, 177, 123) !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(22, 177, 123) !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: rgb(22, 177, 123) !important;;
}

.h2, h2 {
  font-size: 2rem;
  margin-top: 20px;
}