<h3>Create Formateur</h3>
<div [hidden]="submitted" style="width: 400px;">
  
  
  <form class="example-form" (ngSubmit)="onSubmit()">

  
    <table class="example-full-width" cellspacing="0" width="200px" ><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput class="form-control" id="nom" required [(ngModel)]="participant.nom" name="nom">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Prenom</mat-label>
        <input matInput type="text" class="form-control" id="prenom" required [(ngModel)]="participant.prenom" name="prenom">
      </mat-form-field></td>
    </tr></table><br>
    <mat-form-field class="example-full-width"  width="300px">
      <mat-label>Email</mat-label>
      <input matInput placeholder="example@gmail.com" type="text" class="form-control" id="email" required [(ngModel)]="participant.mail" name="email">
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <mat-label>Téléphone</mat-label>
      <span matPrefix>+216 &nbsp;</span>
      <input type="tel" matInput placeholder="55-555-123" type="number" class="form-control" id="tel" required [(ngModel)]="participant.tel" name="tel">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Profil</mat-label>
      <mat-select [(ngModel)]="participant.profil" name="profils">
        <mat-option *ngFor="let profil of profils" [value]="profil">
          {{profil.libelle}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pays</mat-label>
      <mat-select [(ngModel)]="participant.pays" name="pays">
        <mat-option *ngFor="let pays of payss" [value]="pays">
          {{pays.libelle}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
    <mat-form-field appearance="fill">
      <mat-label>Organisme</mat-label>
      <mat-select [(ngModel)]="participant.organisme" name="organisme">
        <mat-option *ngFor="let organisme of organismes" [value]="organisme">
          {{organisme.libelle}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="btn btn-success">Submit</button>
    </form>
 
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="participant.id" name="id">
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="participant.nom" name="nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" required [(ngModel)]="participant.prenom" name="prenom">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="participant.mail" name="email">
    </div>
    <div class="form-group">
      <label for="tel">Tel</label>
      <input type="number" class="form-control" id="tel" required [(ngModel)]="participant.tel" name="tel">
    </div>
    <div class="form-group">
      <label>Type</label>
      <select name="select" [(ngModel)]="participant.type"  class="browser-default custom-select">
        <option [ngValue]="undefined">Sélectionner un type</option>
        <option value="Nationale">  Nationale </option>
        <option value="Internationale">  Internationale </option>
      </select>
    </div>
    <!-- <div class="form-group">
       <label for="profil">Profil</label>
       <input type="number" class="form-control" id="profil" required [(ngModel)]="participant.profil.id" name="profil">
     </div> -->
    <div class="form-group">
      <label>Profil</label>
      <select name="select" [(ngModel)]="participant.profil"  (ngModelChange)="setNewProfil($event)" class="browser-default custom-select">
        <option [ngValue]="undefined">Sélectionner un profil</option>
        <option *ngFor="let profil of profils"  [ngValue]="profil" >  {{profil.libelle}} </option>
      </select>
    </div>

    <div class="form-group">
      <label>Pays</label>
      <select name="select" [(ngModel)]="participant.pays"  (ngModelChange)="setNewPays($event)" class="browser-default custom-select">
        <option [ngValue]="undefined">Sélectionner un pays</option>
        <option *ngFor="let pays of payss"  [ngValue]="pays" >  {{pays.libelle}} </option>
      </select>
    </div>

    <div class="form-group">
      <label>Organisme</label>
      <select name="select" [(ngModel)]="participant.organisme"   class="browser-default custom-select">
        <option [ngValue]="undefined">Sélectionner un organisme</option>
        <option *ngFor="let organisme of organismes"  [ngValue]="organisme" >  {{organisme.libelle}} </option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>


