<h2 class="text-center">Liste des Formateurs</h2>
<div class="container-fluid" >
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" id="butadd" matTooltip="Ajouter Formateur"(click)="addformateur()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Formateur" #input>
  </mat-form-field>
  &nbsp;&nbsp;
  <button class="btn btn-success" (click)="exporter.exportTable('xls')">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z"/>
  </svg></button>
  <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8" width="1130px" #exporter="matTableExporter" matSort>


    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef id="text1" class="font-weight-bold" style="text-align:center" mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.id}} </td>
    </ng-container>
    <!-- nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef  id="text2" class="font-weight-bold" style="text-align:center" mat-sort-header><mat-icon>face</mat-icon>Nom </th>
      <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.nom}} </td>
    </ng-container>
    <!-- prenom Column -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef  id="text4" class="font-weight-bold" style="text-align:center" mat-sort-header><mat-icon>face</mat-icon>Prénom</th>
      <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.prenom}} </td>
    </ng-container>
    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef  id="text5" class="font-weight-bold" style="text-align:center" mat-sort-header><mat-icon> mail</mat-icon>Email </th>
      <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.email}} </td>
    </ng-container>
    <!-- tel Column -->
    <ng-container matColumnDef="tel">
      <th mat-header-cell *matHeaderCellDef  id="text6" class="font-weight-bold" style="text-align:center" mat-sort-header><mat-icon> call</mat-icon>Tél</th>
      <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.tel}} </td>
    </ng-container>
    <!-- type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef  id="text7" class="font-weight-bold" style="text-align:center" mat-sort-header><mat-icon>label_important</mat-icon>Type</th>
      <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.type}} </td>
    </ng-container>
    <!-- organisme Column -->
    <ng-container matColumnDef="organisme">
      <th mat-header-cell *matHeaderCellDef  id="text8" class="font-weight-bold" style="text-align:center" mat-sort-header><mat-icon>location_city</mat-icon>Organisme </th>
      <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.organisme.libelle}} </td>
    </ng-container>



    <ng-container matColumnDef="star" stickyEnd >
      <th mat-header-cell *matHeaderCellDef  id="text3" class="font-weight-bold" style="text-align:center"><mat-icon>build</mat-icon>&nbsp;Actions</th>
      <td mat-cell *matCellDef="let element" style="text-align:center">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="formateurDetails(element.id)">
            <mat-icon id="icon-green">more_vert</mat-icon>
            <span>Details</span>
          </button>
          <button mat-menu-item (click)="updateFormateur(element.id)">
            <mat-icon id="icon-blue">update</mat-icon>
            <span>Update</span>
          </button>
          <button mat-menu-item (click)="deleteFormateur(element.id)">
            <mat-icon id="icon-red">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

