
.welcome { font-family: "Permanent Marker"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Permanent Marker"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Permanent Marker"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Permanent Marker"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Permanent Marker"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.example-container {
    position: absolute;
    top: 60px;
    bottom: 1px;
    left: 0;
    right: 0;
  }
.mat-list-base .mat-subheader {
    color: #f8f9fa;
}
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }


  .example-spacer {
    flex: 1 1 auto;
  }

  .profil-card{
    text-align: center;
    padding: 20px;
  }
  #img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  #reg{
      margin-left: 50px;
  }
  .c-sidebar {
      color: #fff;
      background: #e0e0e0;
  }
  .mat-drawer {
      background-color: #254452f0;/*#222d32;*/
     color: #f8f9fa;
     font-family: Niconne;
     height: 672px;
  }
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #673ab700;
}

  mat-toolbar.mat-primary {
      background: #3ab7a6;
      color: #fff;
  }
.mat-list-base .mat-list-item {
    color: #f8f9fafc;
    font-family: Niconne;
}
