#text{
   background-image: url("src/assets/home1.png");
    width: 1300px;
    height: 500px;
}
#text2{
   background-image: url("src/assets/noir.jpg");
   opacity: 0.3;

}
#card{
     width: 300px;
     height: 500px;
}
