<!-- Page Header-->
<header class="masthead" >
  <div class="overlay"></div>
  <div class="container" id="style">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <h1 class="font-weight-bold" id="text">Façonner un avenir meilleur</h1>
          <h3 class="font-weight-bold" id="text1">Se former,c'est évoluer</h3>
          <!--    <span class="subheading">This is what I do.</span>-->
           </div>
         </div>
       </div>
     </div>
   </header>




<!-- Main Content-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>À propos</h1>
      <h3>Au service de l'éducation</h3>
      <p> Au fil des années, notre réputation a grandi et nos diplômés sont devenus des professionnels compétents dans le domaine. Grâce à une formation à la fois technique et pratique, notre formation forme les futurs leaders de notre métier. Si c'est ce que vous recherchez, n'hésitez pas à nous contacter pour en savoir plus, et rejoignez les rangs de notre établissement.</p>
    </div>
  </div>
</div>


   <!---Main Content-->
<mat-sidenav-content >
  <router-outlet></router-outlet>
</mat-sidenav-content>
<mat-toolbar class="example-footer">@formation</mat-toolbar>
